*,
*:before
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Shadows Into Light Two', cursive;
  background-color: #D5F1F1;
  overflow-y: scroll;
}

ul {
  list-style-type: none;
  text-align: center;
  min-height: 2em;
}

#menu-options li:hover {
  cursor: pointer;
}

#items-purchased {
  min-height: 5em;
}

.item:hover {
  cursor: move;
}

#container {
  min-height: 100%;
  width: 70%;
  margin: 0 auto;
  padding: 2em;
  background-color: #2EB8B8;
}

/* Header styling */
#page-header {
  width: 90%;
  margin: 0 auto 2.5em auto;
}

#headline {
  font-size: 5.2em;
  text-align: center;
  background: #A6CDCD;
}

#diamond {
  height: 8em;
  width: 8em;
  background-color: #208181;
  transform: rotate(45deg);
  position: absolute;
}

/* Clear and Save buttons styling */
#menu-options {
  width: 90%;
  margin: 0 auto 2em auto;
}

#menu-options li {
  display: inline-block;
  padding: 0.3em 1.5em;
  font-size: 1.25em;
  background: #A6CDCD;
}

/* Enter item section styling */
#enter-item {
  width: 90%;
  margin: 0 auto 0.7em auto;
  text-align: center;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #000;
}

#no-item-entered-error {
  display: none;
  margin: 0.75em auto 0 auto;
  background: #7a0808;
  text-align: center;
  font-size: 1.5em;
  color: #ddd;
}

/* Item, Purchased items styling */
#sub-container {
  width: 90%;
  margin: 0 auto;
}

#sub-container h2 {
  font-size: 3.1em;
  margin-left: 1.7em;
}

.item {
  margin: 0 auto 0.5em auto;
}

/* Styling for all input fields */
input {
  padding: 0.3em 1em;
  font-size: 1.25em;
  margin-right: 0.3em;
}

input[disabled] {
  background-color: #A6CDCD;
}

input[type="number"] {
  padding: 0.3em 0.5em;
  max-width: 3.25em;
}

input[type="checkbox"] {
  transform: scale(2.5);
  margin-right: 0.52em;
}

input[type="checkbox"]:checked + input[type="text"] {
  text-decoration: line-through;
}

input[type="text"] {
  width: 50%;
}

@media screen and (max-width: 420px) {
  #container {
    width: 100%;
    padding: 0.3em;
    margin: 0 auto;
  }
  #page-header {
    width: 100%;
    margin: 0 auto 0.5em auto;
  }
  #headline {
    font-size: 2.5em;
    padding: 0.2em;
  }
  #diamond {
    display: none;
  }
  #menu-options {
    width: 100%;
    margin: 0 auto 0.5em auto;
  }
  #menu-options li {
    padding: 0.1em 0.5em;
    font-size: 1em;
  }
  #enter-item {
    width: 100%;
    padding-bottom: 0.5em;
    margin: 0;
  }
  #no-item-entered-error {
    margin: 0.5em;
    padding: 0.5em;
    font-size: 1.1em;
  }
  input[type="text"] {
    width: 80%;
    display: block;
    margin: 0.2em auto;
  }
  input[type="number"] {
    max-width: 2.5em;
  }
  input[type="checkbox"] {
    margin-right: 0.75em;
  }
  input {
    padding: 0.3em 0.75em;
    font-size: 1em;
    margin-right: 0.3em;
  }
  #sub-container {
    width: 100%;
  }
  #sub-container h2 {
    font-size: 2.3em;
    margin: 0;
    text-align: center;
  }
}