*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  box-sizing: border-box;
}

html,
body,
#container {
  height: 100%;
  background-color: #D5F1F1;
  font-family: 'Shadows Into Light Two', cursive;
}

#container {
  width: 80%;
  margin: 0 auto;
  background-color: #2EB8B8;
  padding: 2em;
}

#sub-container {
  width: 80%;
  margin: 0 auto;
}

/* Styling for all header items */
#app-heading {
  position: relative;
  margin-bottom: 3em;
}

#diamond {
  height: 8rem;
  width: 8rem;
  position: absolute;
  top: 0.5em;
  left: 6.5em;
  transform: rotate(45deg);
  background-color: #208181;
  box-shadow: 0px 0px 5px 5px rgba(255,255,255,0.75);
}

#title {
  background-color: #A6CDCD;
  font-size: 5.5em;
  color: #000;
  font-weight: bold;
  text-align: center;
  padding: 0.045em;
  box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.75);
}

/* list(s) styling */
h2 {
  font-size: 3em;
  font-weight: bold;
  padding-left: 0.5em;
}

#items-purchased {
  display: none; /* don't display until at least 1 item exists within the list */
}

/* Styling for all input fields */
input {
  padding: 0.75em;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,0.75);
  font-size: 1.25em;
  margin-bottom: 0.75em;
}

input[type="button"] {
  font-weight: bold;
}

input[type="text"] {
  width: 75%;
}

input[type="number"] {
  width: 3.25em;
  text-align: center;
}

#enter-item {
  width: 100%;
  margin: 0 auto;
}