* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  width: 50%;
  margin: 0 auto;
}

#error-message {
  display: none;
  width: 50%;
  background: red;
  color: white;
  font-size: 1.8em;
  text-align: center;
}

ul {
  list-style-type: none;
}

input[type='text'] {
  line-height: 1.5em;
  padding: 0 1em;
}

#add-item-button {
  margin-left: 0.75em;
}

button {
  padding: 0 1em;
  margin-left: 1em;
  width: 75px;
  line-height: 1.25em;
}

